<body>
<div class="flex flex-1 flex-wrap max-w-full lg:max-w-[80%] mx-auto min-h-screen">
    <%- include('../partials/sidebar.ejs')%>
    <div class="grow lg:max-w-[60%] max-w-full lg:border-x-[1px] lg:overflow-y-scroll">
        <div class="text-4xl pt-10 px-6 font-bold pb-4">Future Plans</div>
        <div class="text-xl pt-6 px-6 font-bold pb-2">
            Next steps
        </div>
        <div class="text-md pt-4 px-6 pr-16 ml-8 text-gray-700 list-decimal">
            <li>Overlay tornado tracks onto visualization</li>
            <li>Review potentially incorrect/incomplete data</li>
            <li>Add functionality to change the amount of policyholders</li>
        </div>
    </div>
</div>
</body>