<body>
<div class="flex flex-1 flex-wrap max-w-full lg:max-w-[80%] mx-auto min-h-screen">
    <%- include('../partials/sidebar.ejs')%>
    <div class="grow lg:max-w-[60%] max-w-full lg:border-x-[1px]">
        <div class="text-4xl pt-10 px-6 font-bold pb-4">Introduction</div>
        <div class="text-md pt-4 px-6 pr-16 text-gray-700">This document was created to explain in detail the methodology behind Sola's DAT actuarial modeling and how it relates to Sola's
            historical actuarial modeling. Below is an overview of each section which can be found using the sidebar on the left.
        </div>
        <div class="text-xl pt-6 px-6 font-bold pb-2">
            Methodology
        </div>
        <div class="text-md pt-4 px-6 pr-16 text-gray-700">This tab will explain at both the high-level and detailed process Sola used to generate these models.
        </div>
        <div class="text-xl pt-6 px-6 font-bold pb-2">
            Incomplete Data
        </div>
        <div class="text-md pt-4 px-6 pr-16 text-gray-700">The DAT API which Sola uses as the dataset for this model may return incomplete, inconsistent, or blank data. This requires us
            to manually adjust our models accordingly. This tab will document the current inaccuracies that we're aware of and how far along we are in adjusting for them.
        </div>
        <div class="text-md pt-4 px-6 pr-16 text-gray-700">Additionally, this tab will explain in detail potential missing data from the DAT and assess the accuracy of the dataset as a whole.
        </div>
        <div class="text-xl pt-6 px-6 font-bold pb-2">
            Comparison
        </div>
        <div class="text-md pt-4 px-6 pr-16 text-gray-700">This tab will give an in-depth comparison between this model and the historical model from Sola.
        </div>
        <div class="text-xl pt-6 px-6 font-bold pb-2">
            Future Plans
        </div>
        <div class="text-md pt-4 px-6 pr-16 text-gray-700">This tab will detail Sola's future plans for this model.
        </div>
    </div>
</div>
</body>